body,
html {
  width: 104%;
  height: 102%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  align-items: flex-end;
  color: #d1d1d1;
  font-size: 32px;



}

hr {


    border-color: #F05F44;
    border-width: 3px;
    max-width: 65px;

}

.buffer{
  height: 170px;
  right: 50px;
}


.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;


}

.btn-primary{
  background-color: #fc5a03;
  border-color: #fc5a03;
}

.btn-primary:hover{
  border-width: 4px;
}

.btn-xl{
  padding: 1rem 2rem;
}
